<div class="button-container">
    <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_ENGLISH'">Generate Bill English</button> <br>
    <button style="background-color: #7e80f5; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_HINDI'">Generate Bill Hindi</button><br>
    <button style="background-color: #c7ccc7; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_ENGLISH_JSON'">Generate Bill English JSON</button> <br>
    <button style="background-color: #9daf4c; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_HINDI_JSON'">Generate Bill Hindi JSON</button> <br>
    <button style="background-color: #d38080; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_ENGLISH_PROD_JSON'">Generate Bill English PROD_NGB JSON</button>  <br>
    <button style="background-color: #a7946b; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/WZ_BILL_ENGLISH_PROD_PREVIEW'">Generate Bill English PROD_NGB Preview</button> <br>   
    <button style="background-color: #a624f1; color: white; padding: 10px 20px; border: none; cursor: pointer; margin: 10px;" onclick="window.location.href='/view_pdfs_page'">View PDFs</button> <br>
</div>
