<div class="button-container">
    <button class="btn" onclick="window.location.href='/WZ_BILL_ENGLISH'">Generate Bill English</button>
    <button class="btn" onclick="window.location.href='/WZ_BILL_HINDI'">Generate Bill Hindi</button>
    <button class="btn" onclick="window.location.href='/WZ_BILL_ENGLISH_JSON'">Generate Bill English JSON</button>
    <button class="btn" onclick="window.location.href='/WZ_BILL_HINDI_JSON'">Generate Bill Hindi JSON</button>
    <button class="btn" onclick="window.location.href='/view_pdfs_page'">View PDFs</button>
</div>
